.tournament-name {
  text-align: center;
}
.tournament-header {
  height:50px;
}
.chart-selector-bar {
  height:30px;
}
.chart-selector {
  height: inherit;
  width: 25%;
  float: left;
  border: 1px solid black;
}
.entrant-names {
  
}